<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lego">

    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CaApplication"
        android:allowBackup="true"
        android:icon="@drawable/lego_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lego.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.ActivitySubstituteRequest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityFee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityChargeResult"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityChargeHistory"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCharge"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityCar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityPoint"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityMyPage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityReserveEnd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityReserveMin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityReserveTime"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityReserveService"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityReserveConnect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityReserveCharger"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityMap"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9ZUbqNQz1r0rry2W8bkCdfXbvaocuGxU" />

        <activity
            android:name=".activity.ActivitySignUpComplete"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySignUpCar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityAuth"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityHome"
            android:screenOrientation="portrait" />

        <activity android:name=".activity.ActivitySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityLogin"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ActivityChargeTime"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityDriverHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivityDriverSub"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySignUpCarEnd"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySignUpCarNum"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySignUpPreferBattery"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySignUpPreferStation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySignUpPreferTime"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActivitySubstitute"
            android:screenOrientation="portrait" />
    </application>

</manifest>